@import "../../../variables";
.projects-wrapper {
  position: relative;
  padding-top: 60px;
  padding-bottom: 15px;
}

.projects-background-container {
  position: absolute;
  z-index: 3;
  transform: translateX(-50vw);
}
.projects-background-main {
  width: 150vw;
  height: 1000px;
  background-color: $purple_default;
  opacity: 0.3;
  transform: rotate(-2.5deg);
  margin-top: 30px;
}

.projects-title {
  position: relative;
}
.projects-title h2 {
  position: relative;
  font-size: 50px;
  z-index: 10;
  margin: 0;
  margin-bottom: 15px;
  @media (max-width: 875px) {
    font-size: 35px;
  }
}
.projects-title-stain {
  position: absolute;
  z-index: 3;
  bottom: 0;
}
.projects-title-stain svg {
  @media (max-width: 875px) {
    width: 70%;
    height: 70%;
  }
}
.projects-content {
  box-sizing: border-box;
  position: relative;
  z-index: 10;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media (max-width: 1250px) {
    //grid-template-columns:1fr 1fr  ;
  }
  @media (max-width: 1250px) {
    max-width: calc(375px + 375px + 45px);

    margin: auto;
  }
  @media (max-width: 850px) {
    max-width: calc(375px + 30px);
  }
}
.projects-project-card {
  display: flex;
  background-color: $black_blue;
  border-radius: 9px;
  flex-direction: column;
  padding: 15px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgb(150 150 150);
  width: 375px;
  margin: auto;
  flex-basis: calc(33.33% - 20px);
  @media (max-width: 1250px) {
    flex-basis: calc(50% - 20px);
  }
  @media (max-width: 850px) {
    flex-basis: calc(100%);
  }
  @media (max-width: 450px) {
    //flex-basis: calc(90% );
    max-width: 300px;
    width: auto;
  }
}
.projects-project-card:hover {
  transition: 0.3s;
  transform: scale(1.025);
}
.project-card-img {
  flex: 1;
}
.project-card-img img {
  width: 100%;
  height: 100%;
  min-height: 225px;
  object-fit: cover;
  border-radius: 6px;
}
.project-card-content {
  flex: 1;

  margin-top: 15px;

  display: grid;
  grid-template-rows: 1fr 3fr 4fr;
}
.project-card-content h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.project-card-content p {
  margin: 0;
  font-size: 14px;
  font-weight: 200;
  margin-top: 5px;
  color: white;
}
.project-card-tags-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;

  align-content: flex-end;
}

.project-card-tags-grid li {
  font-size: 14px;
  font-weight: 200;
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 6px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}
.projects-rectangle {
  min-width: 200vw;
  min-height: 600px;
  overflow: hidden;
  transform: rotate(-2.5deg);

  background-color: $purple_op;

  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 2px 4px 10px rgb(150 150 150);
}

.projects-box {
  max-width: 1180px;
  width: auto;

  transform: rotate(2.5deg);
  margin: auto;
}

.projets-intro-container {
}
.projets-intro-container p {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.projets-intro-container p a {
  color: black;
}

.project-card-invis-div {
  min-width: 370px;

  height: 100%;
  flex-basis: calc(33.33% - 20px);
  display: block;
  background-color: black;
  @media (max-width: 1250px) {
    flex-basis: calc(33.33%);
    margin-left: 5px;
    display: block;
    min-width: 375px;
  }
  @media (max-width: 850px) {
    display: none;
    min-width: 375px;
  }
}
