@import "../../../variables";
.skills-wrapper {
  display:flex;
  flex-direction: column;
  scroll-margin-top: 75px;
  position: relative;
  z-index: 15;
  //display:none;
}
.skills-formation {
  display: flex;
  flex-direction: column;
}
.skills-formation-content {
  display: flex;
  flex-direction: row;
  @media (max-width: 650px) {
    flex-direction: column;
    gap: 30px;
  }
}

.skills-formation-infos {
  display: flex;
  flex-direction: column;
  flex: 1;

  gap: 15px;
}
.skills-formation-infos p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.skills-formation-img {
  flex: 1;

  height: 150px;
}

.skills-formation-img img {
  width: auto;
  height: 100%;
  height: 150px;
  @media (max-width: 450px) {
    height: 100px;
  }
}

.skills-title {
  position: relative;
  margin-bottom: 15px;
  font-family: "Noto Sans JP";
}
.skills-wrapper h2 {
  position: relative;
  z-index: 10;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  color: #090b11;

  text-align: center;
  display: inline;
  margin-bottom: 10px;
  padding-bottom: 20px;

  @media (max-width: 800px) {
    font-size: 35px;
  }
  @media (max-width: 400px) {
    font-size: 2rem;
  }
}
.skills-wrapper h2::before {
  content: '';
  position: absolute;
  bottom: 0;

  width: 90%;
  height: 20px; /* Hauteur de la ligne */
  background-color: #495aae; /* Couleur de la ligne */
  z-index: -1; /* Pour que la ligne passe en dessous du texte */
  transform: translateY(-25px); 
  right:-30px;
opacity: .25;
}
.competences-main-title{

  display:flex;
  justify-content: center;
}
.skills-stain {
  z-index: 3;
  position: absolute;
  bottom: 2px;
}
.skills-stain svg {
  @media (max-width: 875px) {
    width: 70%;
    height: 70%;
  }
}
.skills-infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skills-infos p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.skills-infos p span {
  font-weight: 600;
}
.skills-formation h4 {
  font-size: 35px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.skills-intro-text {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}









.skills-content{


  width: 100%;
  display:flex;
  flex-direction: row;


}
.skills-content-text{

  margin-right:45px; 
  display:flex;
  flex-direction: column;
  


}
.skills-content-text{

}
.skills-content-techstack{
  margin-top: 30px;
}
.skills-content-techstack h5{
  font-family: "Oswald";
  font-size: 1.5rem;
  font-weight:500;
  margin: 0;
  margin-bottom: 15px;
  color: $new_gray_black;
}
.skills-content-techstack-container{
  display:flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap; 
}
.skills-content-techstack-entity{

  display:flex;
  align-items:center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(32,46,115,.9);
  border-radius: 45px;

}

.skills-content-techstack-entity-icon{
  display:flex;
}
.skills-content-techstack-entity-icon-image{
  width: 25px;
  height: 25px;
  color: $new_white2;
}

.skills-content-image{

  display:flex;
  justify-content: flex-end; /* Pour centrer l'image horizontalement */
  align-items: flex-start; /* Pour centrer l'image verticalement */
  margin-left: 25px;
  @media (max-width: 800px) {
    display: none;
  }

}
.skills-content-image img{
  border-radius: 50px;

  height:auto;

  width: 300px;


}
.skills-qualities{


  display:flex;
  align-items: center;
  margin-bottom: 25px;


}
.skills-qualities-container{

  border: 1px solid $new_gray_700;
  width: 100%;
  display:flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}
.skills-qualities-entity{
  flex: 1;
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.skills-qualities-entity-image{
  width: 40px;
  height: 40px;
  color:rgba(32,46,115,.66);
}
.skills-qualities-entity-content{

}
.skills-qualities-entity-content h5{
  margin: 0;
  margin-bottom: 1rem;
  font-family: "Montserrat";
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
    color: $new_gray_black;
}
.skills-qualities-entity-content p{
  margin: 0;
  color: $new_gray_400;
  line-height: 1.5;
  font-family: "Noto Sans JP";
}
.skills-container{

  display:flex;
  flex-direction: column;

  gap: 75px;
  margin-bottom: 25px;
}

.skills-content-techstack-entity-stack p{
  margin : 0;
  font-family: "Noto Sans JP";
  font-size: 1.125rem;
  color: $new_white2;
  line-height: 1.35;
  margin-top: -2px;
}
.skills-content-intro p{
  margin: 0;

  font-size: 1.25rem;
  font-family: "Noto Sans JP";
  color: $new_gray;
  @media (max-width: 800px) {
    font-size: 1.1rem;
  }
}

.skills-qualities-entity-content a {
  color: #6474a2; /* Couleur des liens non visités */
  text-decoration: none; /* Enlever la sous-ligne si besoin */
  text-decoration: underline;
}

.skills-qualities-entity-content a:visited {
  color: #6474a2; /* Couleur des liens visités */
}

.competences-container{


  display:flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 30px;

  padding-bottom: 100px;
  //border-bottom: 4px solid #495aae;
  align-items: center;
}

.competences{
  display:flex;
  flex-direction:column;

  
  
}
.competence-image{
  height: 50px;
  width: 50px;
  color: #495aae;
}

.competence-target{
  display:flex;
  flex-direction: column;
  display:flex;
  align-items: center;
  width: 90px;
  border: 2px solid#495aae;
  padding: 15px;
  gap: 5px;
}
.competences-wrapper{
  display:flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.competences h4{
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin:0;
  padding:0;
  color:#090b11;
  margin-bottom: 15px;
  text-align: center;
}

.competence-title{
  color: #495aae;
}



// 

.competence-target svg {
  width: 40px;
  height: 40px;
  color: #495aae;
  transition: all 2s ease-in-out;
}
.competence-target {
  opacity: 0;
  transform: translateX(-250px);
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity, transform;
  background-color: #FCF3F5;
  border-radius: 5px;

  padding: 20px;
}

.competence-target.visible {
  opacity: 1;
  transform: translateX(0);
}