@import "../../../variables";
.hero-wrapper {


  display: flex;
  flex-direction: row;



  position: relative;
  z-index: 50;

  margin-top: 60px;
}

.hero-content {

  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;




}

.hero-img svg{




}
.hero-photo{
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-photo-wrapper img{

  max-height: 350px;

}
.hero-body {

  display:flex;
  flex-direction: column;
  flex:1;
  margin-top: 100px;
}
.hero-text-wrapper{

  padding: 0 30px;
  padding-bottom: 30px;
  border-bottom: 4px solid #495aae;

}
.hero-content-title {
  position: relative;
  z-index: 50;

  margin-top: 50px;


}
.hero-top {
  display: flex;
  flex-direction: row;


  height: 100%;
}

.hero-content-title h1 {
  margin: 0;
  font-size: 2rem;
  position: relative;
  z-index: 10;
  font-weight: 600;
  margin-bottom: 10px;
  color: #495aae;
  font-family: 'Poppins', sans-serif;
  @media (max-width: 800px) {
    font-size: 3rem;
  }
  @media (max-width: 550px) {
    font-size: 2rem;
  }
}
.hero-content-text h3{
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  color: #090b11;
}
.hero-content-text {
  //margin-top: 15px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;

}
/*
.hero-photo{
flex: 1;
display:flex;


}
.hero-photo{
  display:flex;


}

.hero-photo img{
  max-height: 415px;
  width: auto;
  object-fit: contain;
margin-top: 100px;
display:flex;
  }
*/

.hero-content-text p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #3a3d45;


  font-weight: 500;
  font-size: 1.25rem;
  @media (max-width: 550px) {
    font-size: 21px;
  }

}
.hero-buttons{

  margin-top: 100px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.btn-custom{
  border:4px solid #090b11;;
  text-decoration: none; /* Enlève le soulignement par défaut */
  color: #090b11;; 

  display:flex;
  justify-content: center;
  font-size: 1.1rem;
  padding: 5px 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  transition: .1s;
  cursor: pointer;
}
.btn-custom:hover{
  transform: scale(1.025);
  transition: .1s;
}
.btn-custom.main{

}
.btn-custom.second{
  border:4px solid #495aae;
  color:#495aae;
}
.hero-content-buttons {
  //margin-top: 60px;
  display: flex;
  flex-direction: row;

  height: 100%;
  gap: 15px;
  margin-top: 45px;

}
.hero-btn {
  border: none;
  outline: none;
  background-color: none;
  font-size: 18px;
  font-family: "Outfit";

  height: 50px;
  width: 150px;
  border-radius: 30px;

  box-shadow: 2px 4px 10px rgb(150 150 150);
  cursor: pointer;
  transition: 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-bottom: 2px;
}
.hero-btn:hover {
  transform: scale(1.05);
  transition: 0.15s;
}
.hero-btn.projects {
  font-weight: 500;
  color: white;
  background-color: $black_blue;
}
.hero-btn.contact {
  font-weight: 600;
  background-color: #fff;
  color: $black_blue;
  border: 3px solid $black_blue;
}
