@import "../../../variables";
.hero-wrapper {


  display: flex;
  flex-direction: row;

  height: calc(100vh - 75px);

  position: relative;
  z-index: 50;


}

.hero-content {
  margin-top: 100px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;




}

.hero-img {
  flex: 1;

}

.hero-content-title {
  position: relative;
  z-index: 50;

  margin-top: 50px;


}
.hero-top {
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.hero-content-title-stain {
  position: absolute;
  z-index: 5;
  margin: auto;
  bottom: -10px;


}



.hero-content-title h1 {
  margin: 0;
  font-size: 4.5rem;
  position: relative;
  z-index: 10;
  font-weight: 600;
  width: 90%;
  font-family: "Bree Serif";
  letter-spacing: 1px;
  color: $new_black;
  @media (max-width: 800px) {
    font-size: 3rem;
  }
  @media (max-width: 550px) {
    font-size: 2rem;
  }
}
.hero-content-text {
  //margin-top: 15px;

}
.hero-content-text p {
  margin: 0;
  font-family: "Bree Serif";
  color: $new_black;
  letter-spacing: .5px;
  font-size: 26px;
  font-weight: 500;
  @media (max-width: 550px) {
    font-size: 21px;
  }

}
.hero-content-buttons {
  //margin-top: 60px;
  display: flex;
  flex-direction: row;

  height: 100%;
  gap: 15px;
  margin-top: 45px;

}
.hero-btn {
  border: none;
  outline: none;
  background-color: none;
  font-size: 18px;
  font-family: "Outfit";

  height: 50px;
  width: 150px;
  border-radius: 30px;
  letter-spacing: 0.66px;
  box-shadow: 2px 4px 10px rgb(150 150 150);
  cursor: pointer;
  transition: 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-bottom: 2px;
}
.hero-btn:hover {
  transform: scale(1.05);
  transition: 0.15s;
}
.hero-btn.projects {
  font-weight: 500;
  color: white;
  background-color: $black_blue;
}
.hero-btn.contact {
  font-weight: 600;
  background-color: #fff;
  color: $black_blue;
  border: 3px solid $black_blue;
}
