.home-wrapper {
  position: relative;
  z-index: 15;
  width: 100%;
  display: flex;
  flex-direction: column;

  scroll-margin-top: 75px;

  padding-bottom: 75px;
 // border-bottom: 4px solid #495aae;
 max-width: 1110px;
 margin:auto;
 @media (max-width: 1200px) {
  padding-left:30px;
  padding-right:30px;
 }
 @media (max-width: 900px) {
  padding-left:10px;
  padding-right:10px;
 }
 @media (max-width: 500px) {
  padding-left:0px;
  padding-right:0px;
}
}

.home-testimonials{
  margin-top:100px;
  display:flex;
  flex-direction: column;
  padding: 0 30px;
  align-items: center;
  gap: 30px;
  @media (max-width: 900px) {
    margin-top:50px;
  }
  @media (max-width: 680px) {
    flex-direction:column;
    padding: 0px;
  }
}
.ht-body{
  display:flex;
  flex-direction: row;
  gap:60px;
  @media (max-width: 900px) {
    margin: 0 10px; 
    gap:30px;
  }
  @media (max-width: 680px) {
    flex-direction:column;
  }
}
.ht-unit{

  max-width: 400px;
  padding:30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.05);
  width: 100%;
}


.home-testimonials h5{
  margin: 0;
  padding: 0;
  margin: 10px 0;
  font-size: 1.75rem;
  color: #495aae;
  font-weight: 600;
}
.ht-header-image {
  display:flex;
  align-items: center;

}
.ht-header-image img{
  height:48px;
  width: 48px;
  border-radius: 50%;
  object-fit:cover;
  object-position: -50% 75%;
}
.ht-header{

  display:flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.ht-header-content{

  margin-left: 15px;

}

.ht-header-content p{
  margin: 0;
  
    color: #3a3d45;
   
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.ht-text{
  margin: 0;
  
  color: #3a3d45;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
 line-height: 1.5;
 display: -webkit-box;
 -webkit-line-clamp: 3; /* Limite à 3 lignes */
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;

}

/* exemple thp
- photo
- nom 
- profession
- texte/description/contenu
*/

.ht-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ht-modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  @media (max-width: 600px) {
    padding: 20px;
   }
   @media (max-width: 450px) {
    padding: 15px;
   }
}

.ht-modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 42px;
  cursor: pointer;
}

.ht-btn {
  color: #495aae;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.ht-modal-content p{
  margin: 0;
  color: #3a3d45;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.ht-modal-header{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  position: relative;
  margin-bottom:15px ;
}

.ht-modal-header img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit:cover;
  object-position: -50% 75%;
}

.ht-modal-title{
  margin: 0;
    color: #3a3d45;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.curved-header {
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    display: block;
    width: 100%;
    height: 100px;
  }
}