@import "../../../variables";
.last-projects-wrapper {
  min-height: 250px;
  min-width: 50px;
  margin-top: 30px;
}

.last-projects-title {
  margin-bottom: 15px;
}

.last-projects-title h4 {
  margin: 0;
  font-size: 35px;

  @media (max-width: 450px) {
    font-size: 25px;
  }
}

.last-project-cardslist {
  display: flex;
  flex-direction: row;
  gap: 30px;

  @media (max-width: 950px) {
    flex-direction: column;
  }
}
.last-project-card {
  background-color: $black_blue;
  border-radius: 9px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 250px;
  flex: 1;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgb(150 150 150);
  max-width: 750px;
  height: 300px;

  @media (max-width: 550px) {
    flex-direction: column;
    max-height: 100%;
    gap: 15px;
  }
}
.last-project-card:hover {
  transition: 0.3s;
  transform: scale(1.025);
}

.last-project-content {
  display: grid;
  grid-template-rows: 2fr 1fr;
  flex: 1;
}
.lpc-top {
}
.last-project-content p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.last-project-content h6 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.last-project-img {
  flex: 1;
  display: flex;
  border-radius: 6px;
  min-height: 275px;
}
.last-project-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.last-project-tags-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;

  list-style-type: none;
  align-items: center;
}
.last-project-tag {
  font-size: 14px;
  font-weight: 200;
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 6px;
}
