.presentation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation-main-title h2 {
  position: relative;
  z-index: 10;
  margin: 30px 0;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #090b11;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;

  @media (max-width: 800px) {
    font-size: 35px;
  }
}

.presentation-main-title h2::before {
  content: '';
  position: absolute;
  bottom: 0;

  width: 90%;
  height: 20px; /* Hauteur de la ligne */
  background-color: #495aae; /* Couleur de la ligne */
  z-index: -1; /* Pour que la ligne passe en dessous du texte */
  transform: translateY(-25px); 
  right:-30px;
opacity: .5;
}

.presentation-main-title {
  display: flex;
  justify-content: center;
}

.presentation-body {
  position: relative;
  margin-bottom: 150px;
  padding-left:30px;
  padding-right:30px;
  padding-top:30px;
  z-index: 6;
  background-color: #FCF3F5;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px; /* Limiter la largeur pour une meilleure lisibilité */
  border-radius: 8px; /* Coins arrondis pour l'esthétique */
  @media (max-width: 900px) {
    padding-left:10px;
    padding-right:10px;
  }
  @media (max-width: 500px) {
    padding-left:5px;
    padding-right:5px;
  }
}

.presentation-body p {
  font-family: "Montserrat", sans-serif;
  color: #3a3d45;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 5px 0;
  line-height: 1.6; /* Meilleur espacement entre les lignes */
  

}

.presentation-body ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.presentation-body li {
  font-family: "Montserrat", sans-serif;
  color: #3a3d45;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.presentation-body li::before {
  content: '➔';
  margin-right: 10px; /* Espace entre l'icône et le texte */
  color: #495aae; /* Couleur du symbole */
}

.bold-class{
  font-weight: 600;
}

.presentation-body h6{
  margin:0;
  padding:0;
  margin: 10px 0;
  font-size: 1.75rem;
  color: #495aae;
  font-weight: 600;
}
.presentation-body strong {

}

.presentation-body li {
  display: inline-block;

}