@import "../../variables";
.images-reader-wrapper{
  position: fixed;



  display: none;
  z-index: 45;
  left: 0;
  bottom: 0;
  right: 0;
  top: 50px;
  justify-content: center;

}

.images-reader-wrapper.active{
  display:flex;

}

.images-reader-container{
  max-width: 1180px;
  width: 100%;
  
  margin: auto;


  position: relative;
  z-index: 50;
  overflow: hidden;
}
.selected-image-container img{
  width: 100%;
  box-shadow: 2px 4px 10px rgb(150, 150, 150);
  border: 6px solid $purple_default;
  border-radius: 6px;
}
.selected-image-container{
  padding: 15px;
  position: relative;
  z-index: 50;
  overflow: hidden;

}

.image-reader-close-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: white;
  border-radius: 50%;
  display:flex;
  align-items: center;
  padding: 5px;
  border: 2px solid $black_blue;
  transition: .3s;
  cursor:pointer;
  z-index: 80;
}

.image-reader-close-btn:hover{
  transition: .3s;
  transform: scale(1.1);
}

.reader-overlay{
  background-color: rgba(250,250,250, .66);
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 50px;
  right: 0;

}
.reader-overlay.active{

}