@import "../../variables";
.project-reader-wrapper {
  max-width: 1180px;
  padding-bottom: 30px;

  margin: auto;
  position: relative;
  z-index: 6;

  @media (max-width: 1300px) {
    margin: 0 50px;
  }
  @media (max-width: 550px) {
    margin: 0 10px;
  }
  @media (max-width: 400px) {
    margin: 0 0;
  }
}
.projects-details-bg-wrapper{
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  height: 100%;

  background-color : #DDDDF4;
  z-index: -3;
}
.project-reader-container {


}
.project-website-back-container{
  display:flex;
  align-items: center;
  position: absolute;
  left: 0;
  top:50%;
  bottom: 50%;
  margin:12px solid orange;
}
.project-website-back{
  font-family: "Outfit";
    border: none;
    outline: none;
    background-color: none;
    font-size: 18px;
    font-family: "Outfit";
    border-radius: 6px;
    letter-spacing: 0.66px;
    cursor: pointer;
    transition: 0.15s ease;
    color: #000C2E;
    font-weight: 600;
    color: #283044;
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #565160;
    color: #FCF3F5;
    padding: 10px 20px;
    text-decoration: none;
  
}
.project-website-back:hover{
  transform: scale(1.05);
}
.project-reader-intro {
  position: relative;

  margin-top: calc(60px);

  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.project-reader-intro h2 {
  font-size: 50px;

  z-index: 10;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight:600;
  color: #090b11;
  margin:0;
  padding:0;
  margin-top: 30px;
  margin-bottom: 75px;
  @media (max-width: 875px) {
    font-size: 35px;
  }
  @media (max-width: 500px) {
    text-align: center;
  }
  @media (max-width: 500px) {
    margin-bottom: 30px;
  }
}
.project-website-link-container{
  display:flex;
  align-items: center;
  position: absolute;
  right: 0;

  bottom: 50%;
  @media (max-width: 700px) {
    position: relative;
  }
  @media (max-width: 500px) {
    margin-bottom: 50px;
  }
}
.project-website-link{
  font-family: "Outfit";
    border: none;
    outline: none;
    background-color: none;
    font-size: 18px;
    font-family: "Outfit";
    border-radius: 6px;
    letter-spacing: 0.66px;
    cursor: pointer;
    transition: 0.15s ease;
    color: #000C2E;
    font-weight: 600;
    color: #283044;
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #495aae;
    color: #FCF3F5;
    padding: 10px 20px;
    text-decoration: none;
  
}
.project-website-link:hover{
  transform: scale(1.05);
}
.project-website-link.closed{
  background-color: #f44336;
}
.project-website-link.closed:hover{
  background-color: #f44336;
  transform: scale(1.00);
  cursor: default;
}
.project-reader-stain svg {
  @media (max-width: 875px) {
    width: 50%;
    height: 50%;
  }
  @media (max-width: 775px) {
    width: 55%;
    height: 55%;
  }
  @media (max-width: 675px) {
    width: 60%;
    height: 60%;
  }
  @media (max-width: 575px) {
    width: 65%;
    height: 65%;
  }
  @media (max-width: 525px) {
    width: 70%;
    height: 70%;
  }
  @media (max-width: 475px) {
    width: 75%;
    height: 75%;
  }
  @media (max-width: 450px) {
    display: none;
  }
}
.project-reader-stain.very-long {
  bottom: -5px;
}
.project-reader-stain.very-long svg {
  bottom: -10px;
}


.project-reader-rectangle {
  min-width: 110vw;

  overflow: hidden;
  transform: rotate(-2.5deg);

  background-color: $purple_op;

  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 2px 4px 10px rgb(150, 150, 150);
  @media (max-width: 1230px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.project-reader-content {
  display: flex;

  width: 100%;
  min-height: 100%;
  align-items: flex-start;
  justify-content:  center;
  flex-direction: column;

}
.project-reader-box {
  max-width: 1180px;
  width: auto;
  display: flex;
  flex-direction: column;
  @media (max-width: 1230px) {

  }
}
.project-reader-box a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.prb-img {

  display: flex;
  align-items: center;
  margin-top: 30px;
  position: relative;
  border-radius: 3px;


}
.prb-img img {
  border-radius: 3px;
  border: 2px solid rgba(32, 46, 115, 0.9);
  width: 80%;
  margin:auto;
  object-fit: cover;
  cursor: pointer;
  @media (max-width: 1230px) {
    max-width: 600px;
  }

  @media (max-width: 650px) {
    max-width: 450px;
    min-height: 300px;
  }
  @media (max-width: 500px) {
    // border: 3px solid $black_blue;
    max-width: 300px;
  }
}

.prb-content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1230px) {
    max-width: 600px;
    padding: 0;
  }
  @media (max-width: 650px) {
    max-width: 450px;
  }

  @media (max-width: 500px) {
    max-width: 300px;
  }
}
.prb-description {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media (max-width: 1230px) {
    //align-items: center;
  }
  @media (max-width: 350px) {
    // padding: 0 10px;
  }
}
.prb-description h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat";
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    color: $new_gray_black;

}
.prb-description p {
  margin: 0;
  margin-top: 15px;
  color: #6474a2;
    line-height: 1.5;
    font-family: "Noto Sans JP";
}

.prb-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  @media (max-width: 1230px) {
    margin-top: 30px;
  }
  @media (max-width: 350px) {
    flex-direction: column;
    align-items: center;
  }
}

.prb-button {
  border: none;
  outline: none;
  background-color: none;
  font-size: 18px;
  font-family: "Outfit";
  height: 50px;
  width: 150px;
  border-radius: 30px;
  letter-spacing: 1px;
  transition: 0.15s;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgb(150, 150, 150);
  text-decoration: none;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.15s;
  padding-bottom: 2px;
}
.prb-button:hover {
  transform: scale(1.05);
  transition: 0.15s;
}
.prb-button.link {
  font-weight: 500;

  background-color: #000c2e;
}

.prb-buttons-container a {
  text-decoration: none;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.15s;
}

.prb-buttons-container a:last-child {
  color: $black_blue;
}
.prb-button.code {
  font-weight: 600;
  background-color: #fff;
  border: 3px solid #000c2e;
}

#project-reader-more-about-title {
  font-size: 35px;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 30px;
}
.project-reader-features-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @media (max-width: 800px) {
    margin-top: 30px;
  }
}

.prf-feature {
  display: flex;
  flex-direction: column;

}

.prf-img {

  display: flex;
  align-items: center;
}
.prf-img img {
  width: 100%;


  border-radius: 3px;
  height: 100%;
  object-fit: cover;
  cursor: default;
  box-shadow: 0px 1px 2px rgba(32, 46, 115, 0.33);
  transition: .15s;
  @media (max-width: 650px) {
    height: 35vh;

    object-position: center;
  }
}


.prf-text {


}
.prf-text p {
  margin: 0;
  font-family: "Montserrat";
    font-size: 1.75rem;
    font-weight: 700;
    color: #283044;
    margin-bottom: 10px;
    @media (max-width: 650px) {
      font-size: 1.35rem;
      text-align:center;
    }
}

.project-reader-languages {
  margin-top: 30px;
}

.project-reader-languages h6 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  margin-bottom: 15px;
}
.project-reader-languages ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.prl-tag {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items:center;
}
.prf-feature-wrapper {
  display: flex;
  flex-direction: column;
}
.prf-feature-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 15px;
}

.projet-reader-fixed-btns-container {
  position: fixed;

  right: 35px;
  top: 85px;
  height: 50px;
  z-index: 300;

  display: flex;
  gap: 10px;
  @media (max-width: 1180px) {
    right: 10px;
  }
  @media (max-width: 650px) {
    top: 60px;
  }
}
.prfb-btn {
  cursor: pointer;
  transition: 0.15s;
  display: flex;
  align-items: center;
}
.prfb-btn:hover {
  transition: 0.15s;
  transform: scale(1.05);
}

.prb-techstack{

  
}
.prb-techstacks-container{
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
  margin-bottom:50px;

}
.prb-techstack h6{
  font-family: "Montserrat";
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  color: #283044;
  margin-top: 30px;

}
.prb-techstack-entity{
  display: flex;
  align-items: center;
  gap:5px;
 padding: 10px;

  flex-direction: column;
  border: 2px solid #090b11;
  width: 75px;

}

.prb-icon-image{
color:  #495aae;;
width: 40px;
height: 40px;

}

.prb-techstack-entity p{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem!important;
  font-weight: 600!important;
  color: #495aae!important;
  line-height: 1.35;
  margin-top: -2px;
}

.project-reader-box p{
  font-family: "Montserrat", sans-serif;
  color: #3a3d45;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 5px 0;
}

.project-reader-box h4{
  font-family: "Poppins", sans-serif;
  color: #495aae;
  font-weight: 600;
  font-size: 1.75rem;
  padding:0;
  margin: 10px 0;
}

.project-reader-box ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
.project-reader-box li{
  margin:0;
  padding:0;
  margin: 5px 0;
}
.project-reader-box li li{
  margin-left: 20px;
}

.prf-long-desc{
  margin-bottom: 50px;
}

.sp-section-2{
  margin-bottom: 50px;
}
.prb-container{
  display:flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}

.project-reader-features-list h4{
  font-family: "Poppins", sans-serif;
    color: #495aae;
    font-weight: 600;
    font-size: 1.75rem;
    padding: 0;
    margin: 10px 0;
    margin-bottom: 30px;
}

.prf-container{
  display:flex;
  flex-direction: column;
  gap:50px;
}
.prf-text h6{
  margin:0;
  padding:0;
  color: #3a3d45;
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;

}

.clonebook-li{
  margin-left: 10px!important;
}

.prf-long-desc p{
  margin:10px 0;
  line-height: 1.25; 
}
.sp-section-2 p{
  line-height: 1.25; 
}