@import "../../../variables";
.contact-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;
  flex-shrink: 0;
  margin-bottom: 150px;
max-width: 1500px;
  //margin-top: 25px;
  scroll-margin-top: 75px;
  margin:auto;
  margin-bottom: 150px;
  @media (max-width: 350px) {

    margin-bottom: 30px;
  }
}

.contact-infos {
  flex: 1;
 
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;

  @media (max-width: 750px) {
    padding: 0 0px;
    margin-bottom: 30px;
  }

}
.contact-infos h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #495aae;;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 15px;

}
.contact-line {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  align-items: center;
}
.contact-line span {
  min-width: 30px;
  display: flex;
  align-items: center;
}
.contact-line p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #3a3d45;
  font-weight: 400;
  font-size: 0.95rem;
}
.contact-line p a{
text-decoration: none;
color: inherit;
}
.contact-line p a:hover{
  text-decoration: underline;
  }
.contact-line-image{
  color: #495aae;;
  height: 20px;
  width: 20px;

  margin-top: 2px;
}
.contact-main-title h2 {
  position: relative;
  z-index: 10;
  margin: 30px 0;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #090b11;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;

  @media (max-width: 800px) {
    font-size: 35px;
  }
}

.contact-main-title h2::before {
  content: '';
  position: absolute;
  bottom: 0;

  width: 90%;
  height: 20px; /* Hauteur de la ligne */
  background-color: #495aae; /* Couleur de la ligne */
  z-index: -1; /* Pour que la ligne passe en dessous du texte */
  transform: translateY(-25px); 
  right:-30px;
opacity: .5;
}

.contact-main-title {
  display: flex;
  justify-content: center;
}

.contact-content-container{
  height: 100%;
  width: 100%;
  margin-top: 45px;
}
.contact-content {
  display: flex;
  flex-direction: row;
  //padding: 15px;
  width: 100%;

  @media (max-width: 750px) {
    flex-direction: column;
    padding: 0;
  }
}
.contact-form {
  flex: 1;
}
.contact-text p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 15px;
}
.contact-form form {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.contact-form-input {
  display: flex;
  align-items: center;
  background-color: #495aae;;
  padding: 2px;
  padding-left: 0;

}
.contact-form-input input {
  font-family: "Outfit";
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: rgb(105, 105, 105);
  padding: 5px 10px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #3a3d45;
  font-weight: 500;
  font-size: 1.25rem;

}
.contact-form-input input[type="text"]::placeholder {
  color: #505d84;
}
.contact-form-input textarea::placeholder {
  color: #505d84;
}
.contact-form-input label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.form-label-image{
  height: 25px;
  width: 25px;
  color: $new_white2;
}

.contact-form-input textarea {
  font-family: "Outfit";

  border: none;
  outline: none;

  padding: 10px 15px;
  font-size: 18px;
  color: rgb(105, 105, 105);

  width: 100%;
  min-height: 200px;
  margin-left: 2px;
  font-family: "Montserrat", sans-serif;
  color: #3a3d45;
  font-weight: 500;
  font-size: 1.25rem;
}

.contact-form-input-send {
  display: flex;
  @media (max-width: 750px) {
    margin-bottom: 30px;
  }
}
.contact-form-input-send input {
  font-family: "Outfit";
  border: none;
  outline: none;
  background-color: none;
  font-size: 18px;
  font-family: "Outfit";


  letter-spacing: .66px;

  cursor: pointer;
  transition: 0.1s ease;
  border-radius: 5px;
  color: $black_blue;
  font-weight: 600;
  color: #283044;
  font-family: "Montserrat";
  font-size: 1.125rem;

  font-weight: 600;
  background-color : #495aae;;
  color: $new_white2;
  padding: 10px 20px;
}

.contact-form-input-send input:hover {
  transition: 0.1s ease;
  transform: scale(1.05);

}

.contact-alert-wrapper {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  border-radius: 9px;
  margin-top: 45px;
  font-family: "Montserrat";
    font-size: 1.125rem;
    font-weight: 600;
    color: $new_black;
}
.contact-alert-wrapper.success {
  background-color: #ddfadd;
}
.contact-alert-wrapper.danger {
  background-color: #ff6666;
}

.contact-form-checkbox-wrapper {
  display: flex;
  flex-direction: row;
}
.cfc-checkbox input {
  width: 18px;
  height: 18px;
  transform: translate(-4px, -3px);
}
.cfc-checkbox {
  position: relative;
  margin-top: 4px;
  margin-right: 5px;
}

.cfc-text {
  font-size: 14px;
}
.cfc-text label{
  font-family: "Montserrat", sans-serif;
  color: #3a3d45;
  font-weight: 500;
  font-size: 0.8rem;
}

