@import "../../../variables";
.contact-wrapper{
 

  display:flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;

  min-height: calc(100vh - 100px);
}

.contact-infos{
  flex: 1;

  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  @media (max-width:750px){
    
    padding: 0 0px;
  }
}
.contact-infos h4{
  margin:0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  
}
.contact-line{
  display:flex;
  flex-direction: row;
}
.contact-line span{
  min-width: 30px;
}
.contact-line p{
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.contact-title{
  position: relative;

}

.contact-title h2{
  position: relative;
  z-index: 10;
  margin: 0;
  font-size: 50px;
  @media (max-width:1280px){
    font-size: 35px;
  }
}
.contact-stain{
  position: absolute;
  bottom: 0px;
  z-index: 3;
}
.contact-stain svg{
  width: 100%;
  height:100%;
  @media (max-width:1280px){
    width: 70%;
    height:70%;
  }
}
.contact-content{

  display:flex;
  flex-direction: row;
  padding: 15px;


  border-radius: 9px;
  @media (max-width:750px){
   flex-direction: column;
    padding:0;
  }
}
.contact-form{
 

  flex: 1;

  

}
.contact-text p{
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 15px;

}
.contact-form form{
  display:flex;
  gap: 15px;
  flex-direction: column;
}
.contact-form-input{

  display:flex;
  align-items: center;
  background-color: $black_blue;
  padding: 5px;
  padding-left: 0;
  border-radius: 9px;
}
.contact-form-input input{
  font-family: "Outfit";

  width: 100%;
  height: 100%;
  font-size: 18px;
  color: rgb(105, 105, 105);
  letter-spacing: .5px;
  padding: 5px 10px;
  border:none;
  outline:none;
  border-radius: 6px;
}
.contact-form-input label{
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-form-input textarea{
  font-family: "Outfit";

  border:none;
  outline:none;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 18px;
  color: rgb(105, 105, 105);
  letter-spacing: .5px;
  width: 100%;
  min-height: 200px;
  margin-left: 5px;
}

.contact-form-input-send{

  display:flex;
  @media (max-width:750px){
  margin-bottom: 30px;
   }

}
.contact-form-input-send input{
  font-family: "Outfit";
  border: none;
  outline: none;
  background-color: none;
  font-size: 18px;
  font-family: "Outfit";
  height: 50px;
  width: 150px;
  border-radius: 30px;
  letter-spacing: 0.66px;
  box-shadow: 2px 4px 10px rgb(150 150 150);
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid $black_blue;
  color: $black_blue;
  font-weight: 600;
}

.contact-form-input-send input:hover{
  transform: scale(1.05);
  transition: .3s;
}

.contact-alert-wrapper{
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  border-radius: 9px; 
}
.contact-alert-wrapper.success{
  background-color: #ddfadd;
}
.contact-alert-wrapper.danger{
  background-color: #ff6666;
}

.contact-form-checkbox-wrapper{
  display: flex;
  flex-direction: row;

}
.cfc-checkbox input{
  width: 18px;
  height: 18px;
  transform: translate(-4px, -3px);

}
.cfc-checkbox{
  position: relative;





}

.cfc-text{
  font-size: 14px;

}