.main-default{
 
  max-width: 1180px;

  margin: auto ;
display:flex;
flex-direction: column;

}

.index-fixed-btns-container{
  position: fixed;

  right: 35px;
  top: 85px;
  height: 50px;
  z-index: 99;

  display: flex;
  gap: 10px;
  @media (max-width:1280px){
    right: 15px;
  }
}

.if-btn{
  cursor:pointer;
  transition: .3s;
  display:flex;
  align-items:center;
}
.if-btn:hover{
  transition: .3s;
  transform: scale(1.05);
}