@import "../../variables";
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 300;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  background-color: $new_white2;

  box-shadow: 0px 0px 1px rgba(32,46,115,.66);

}

.navbar-container {
  height: 100%;
  max-width: 1180px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 50;
  overflow: hidden;
}
.navbar-home-btn {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;


  //cursor:pointer;
}
.navbar-home-btn:hover {
  //h3{
  //}
}
.nhb-logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;


}
.nhb-logo-container img{
  height: 50px;
  width: auto;
  object-fit: fill;
}

.navbar-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 800px) {
    display: none;
  }
}
.navbar-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.navbar-menu-list li {

  position: relative;
}

.nml-link {
  color: $new_black;
  font-size: 1.1rem;

  text-decoration: none;
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  color: #283044;
  cursor:pointer;
}

.nml-link::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: $new_blue;
  opacity: .5;
  transition: all 0.2s ease-in-out;
}

.nml-link:hover::before {
  width: 100%;
}
//

.nml-link.skills.active {
  color: black;

  text-decoration: none;
  position: relative;
}

.nml-link.skills.active::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $new_blue;
  opacity: .5;
}

//
.nml-link.projects.active {
  color: black;

  text-decoration: none;
  position: relative;
}

.nml-link.projects.active::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height:3px;
  background-color: $new_blue;
  opacity: .5;
}
//
.nml-link.contact.active {
  color: black;

  text-decoration: none;
  position: relative;
}

.nml-link.contact.active::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $new_blue;
  opacity: .5;
}

.nhb-title {
  cursor: pointer;
  margin-left: 10px;
  color: $new_gray_black;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s;
  position: relative;
  font-family: "Montserrat";
  color: #283044;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.nhb-title::before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 0;
  height: 3px;

  background-color: $new_blue;
  opacity: .5;
  transition: all 0.3s ease-in-out;
}

.nhb-title:hover::before {
  width: 100%;
}

.nhb-title.active::before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $new_blue;
  opacity: .5;
  transition: all 0.3s ease-in-out;
}

.nml-link-secondary-github {
  color: black;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  position: relative;
}

.nml-link-secondary-github::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 3px;

  background-color: $new_blue;
  opacity: .5;
  transition: all 0.3s ease-in-out;
}

.nml-link-secondary-github:hover::before {
  width: 100%;
}



.nc-burger-btn {

  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  cursor: pointer;
  z-index: 800;
  display: none;
  @media (max-width: 800px) {
    display: flex;
  }
}

.nc-burger-btn:hover {
  transform: scale(1.075);
}


.navbar-burger-menu-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;

  bottom: 0;

  background-color: $new_white2;
  top: 75px;
  transform: translateY(-100vh);
  transition: 0.3s;
  overflow: hidden;
  padding: 15px 15px;
}
.navbar-burger-menu-modal.active {
  transform: translateY(0px);
}
.navbar-burger-menu-modal ul {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items :center;
}
.nav-burger-link {
  color: black;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.nav-burger-link:hover {
  text-decoration: underline;
}
.navbar-buttons-icons{
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  @media (max-width: 800px) {
    display: none;
  }

}
.nbi-logo{

  display :flex;
  align-items :center;
}
.nbi-logo img{
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.black-logo{
  cursor:pointer;
  height: 25px;
  width: 25px;
  color:$new_blue;
  opacity: .9;
}
.black-logo:hover{
  transition: 0.1s;

  opacity: 0.66;
}



.nml-link-second-page {
  color: #283044;
  font-size: 1.1rem!important;

  text-decoration: none;
  position: relative;
  font-family: "Montserrat"!important;
  font-weight: 700!important;
  cursor: pointer;

}

.nml-link-second-page::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: $new_blue;
  opacity: .5;
  transition: all 0.2s ease-in-out;
}

.nml-link-second-page:hover::before {
  width: 100%;
}