$black_blue: #000C2E;
$purple_default: #8D8DDA;
$purple_op: #DDDDF4;

$new_blue: #202E73;
$new_white:#FBF7F8;
$new_white2: #FCF3F5;
$new_black: #090b11;
$new_gray: #505d84;
$new_gray_black: #283044;
$new_gray_400: #6474a2;
$new_gray_700: #c3cadb;
