@import "./variables";
html {

  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Outfit";
  background-color: $new_white2;
}
.app {
  max-width: 100vw;

}
.main-content {
  height: 100%;


  min-height: calc(100vh - 60px - 60px);
  padding-right: 15px;
  padding-left: 15px;
}
.app {
  min-height: 100vh;

  width: 100%;
}

.app-loader {
  position: fixed;
  background-color: #fff;

  z-index: 400;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 3s;
  animation-name: flipFlap;
}
.gif-container {
  animation-duration: 2s;

  animation-name: moveToRight;
  padding: 15px;

  display: flex;
  align-items: center;
}

.gif-container img {
  transform: rotate(-44deg);
}

@keyframes moveToRight {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes flipFlap {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

html, body {
  overflow: visible;
}